doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 책 모음
        //- 스타일 시트 추가
        style
            include ../public/normalize.css
            include ../public/common.css
            include ../public/header.css
    body
        #main  
            header
                include header.pug

            h2 books 페이지


        script 
            include commonScripts.pug