h2#header-title 책 읽는 남자
#header-gnb 
    ul#header-gnb-list
        li#gnb-list-signup.gnb-list-text 
            a(href="/signup") 회원가입
        li#gnb-list-login.gnb-list-text 
            a(href="#none") 로그인
        li#gnb-list-logout.gnb-list-text 
            a(href="#none") 로그아웃
        li#gnb-list-userName.gnb-list-text 
.clear-both
#header-gnb-mainMenu
    ul#header-gnb-mainMenu-list
        li#gnb-mainMenu-home
            a(href="/") home
        li#gnb-mainMenu-books
            a(href="/books") books
        li#gnb-mainMenu-about
            a(href="/about") about
        .clear-both