/* HEADER */
#header-title {
    float: left;
    margin-left: 50px;
}
#header-gnb {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
#header-gnb-list {
    display: inline-block;
}
#header-gnb-list > li {
    float: right;
    margin-left: 20px;
}
.gnb-list-text {
    font-size: 13px;
}

#header-gnb-mainMenu-list {
    margin-left: 50px;
    padding-bottom: 12px;
}
#header-gnb-mainMenu-list::after {
    display: block;
    margin-top: 5px;
    margin-left: -50px;
    width: calc(100%+50px);
    height: 1px;
    content: '';
    font-size: 0;
    border-bottom: 1px solid #0000003f;
}

#header-gnb-mainMenu-list > li {
    float: left;
    margin-left: 20px;
}
#gnb-mainMenu-books > a {
    color: #7cb342;
}
#gnb-mainMenu-about > a {
    color: #1e88e5;
}
#header-gnb-mainMenu-list > li > a:hover {
    color: #fb8c00;
}
